<!DOCTYPE html>
<html>
    <head>
      <title>Weather</title>
      <link rel="icon" href="img/icon.png"
        <link rel="stylesheet" href = "css/style.css">
        
    </head>
<body>

{{>header}}
<form action="">
 <input placeholder="Location">
 <button>Search</button>
</form> 
<p id="p1"></p>
<p id="paragraph2"></p>


<img src="img/robot.png" height="100px" width="100px">

{{>footer}}

<script src="js/app.js"> </script>
</body>
</html>
